In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
bbt_path = '/mnt/data/learning-habits/bbt.csv'
bbt = pd.read_csv(bbt_path)

In [3]:
bbt.columns

Index(['sub_id', 'block', 'left_stim', 'right_stim', 'left_value',
       'right_value', 'shift', 'action', 'rt', 'chosen_stim', 'reward',
       'correct', 't_first_stim', 't_second_stim', 't_action',
       't_purple_frame', 't_points_feedback', 't_iti_onset', 't_trial_end',
       'first_stim', 'second_stim', 'left_stim_name', 'right_stim_name',
       'left_stim_cat', 'right_stim_cat', 'first_stim_name',
       'second_stim_name', 'first_stim_cat', 'second_stim_cat', 'phase', 'run',
       'trial2', 'stim_chosen', 'stim_unchosen', 'stim_rawID_chosen',
       'reward1', 'reward2', 'reward_chosen', 'reward_unchosen', 'diff_val',
       'flag_therapy1', 'flag_accuracy', 'flag_include', 'alpha_rl20',
       'beta_rl20', 'alpha_ck20', 'beta_ck20', 'choice_prob_left',
       'choice_prob_right', 'action_prob', 'stim1_value_rl', 'stim2_value_rl',
       'stim3_value_rl', 'stim4_value_rl', 'stim5_value_rl', 'stim6_value_rl',
       'stim7_value_rl', 'stim8_value_rl', 'stim1_value_ck', 'stim2_value_ck',
       'stim3_value_ck', 'stim4_value_ck', 'stim5_value_ck', 'stim6_value_ck',
       'stim7_value_ck', 'stim8_value_ck', 'value_diff', 'first_stim_value_rl',
       'second_stim_value_rl', 'first_stim_value_ck', 'second_stim_value_ck',
       'diff_val_chosen', 'stim1_prop_training', 'stim2_prop_training',
       'stim_diff_prop_training', 'stim_diff_prop_training_chosen', 'reward1C',
       'stim_diff_prop_trainingS', 'stim_diff_prop_training_chosenS',
       'diff_valS', 'diff_val_chosenS', 'score_EHI'],
      dtype='object')

In [4]:
bbt.head()

,sub_id,block,left_stim,right_stim,left_value,right_value,shift,action,rt,chosen_stim,...,stim1_prop_training,stim2_prop_training,stim_diff_prop_training,stim_diff_prop_training_chosen,reward1C,stim_diff_prop_trainingS,stim_diff_prop_training_chosenS,diff_valS,diff_val_chosenS,score_EHI
0,sub-01,learning1,5,7,3,4,0,1.0,0.934432,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,sub-01,learning1,4,6,3,4,1,1.0,0.645392,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,sub-01,learning1,3,1,2,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sub-01,learning1,6,8,4,5,0,1.0,0.368762,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,sub-01,learning1,2,4,2,3,0,1.0,0.537730,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
bbt.loc[1:10, ['sub_id','first_stim','second_stim','first_stim_name','second_stim_name']]

    sub_id  first_stim  second_stim  first_stim_name second_stim_name
1   sub-01           4            6        hand_back          house_1
2   sub-01           1            3    figure_circle        face_male
3   sub-01           8            6  figure_triangle          house_1
4   sub-01           4            2        hand_back      face_female
5   sub-01           3            1        face_male    figure_circle
6   sub-01           5            7        hand_palm          house_2
7   sub-01           2            1      face_female    figure_circle
8   sub-01           2            4      face_female        hand_back
9   sub-01           2            4      face_female        hand_back
10  sub-01           7            8          house_2  figure_triangle

In [9]:
bbt.loc[800:810, ['sub_id','first_stim','second_stim','first_stim_name','second_stim_name']]

     sub_id  first_stim  second_stim  first_stim_name second_stim_name
800  sub-03           5            7        hand_palm          house_2
801  sub-03           6            8          house_1  figure_triangle
802  sub-03           5            3        hand_palm        face_male
803  sub-03           2            1      face_female    figure_circle
804  sub-03           4            2        hand_back      face_female
805  sub-03           7            8          house_2  figure_triangle
806  sub-03           3            1        face_male    figure_circle
807  sub-03           6            4          house_1        hand_back
808  sub-03           3            1        face_male    figure_circle
809  sub-03           7            5          house_2        hand_palm
810  sub-03           8            6  figure_triangle          house_1