In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import sys
sys.path.append('/home/ubuntu/repos/learning-habits-analysis')
from utils.data import Subject, load_participant_list

In [3]:
base_dir = '/home/ubuntu/data/learning-habits'
bids_dir = "/home/ubuntu/data/learning-habits/bids_dataset/derivatives/fmriprep-24.0.1"

sub_ids = load_participant_list(base_dir)

In [4]:
subjects = [Subject(base_dir, sub_id, include_modeling=True, include_imaging=True, bids_dir=bids_dir) for sub_id in sub_ids]
#subject = Subject(base_dir, '01', include_modeling=True, include_imaging=True, bids_dir=bids_dir)

/home/ubuntu/repos/learning-habits-analysis/utils/data.py:178: UserWarning: Last 1 trial(s) of block had no response, filling with 0

In [5]:
subjects[0].sub_id

'sub-01'

In [ ]:
subjects[0].

,block,left_stim,right_stim,left_value,right_value,shift,action,rt,chosen_stim,reward,...,first_stim,second_stim,left_stim_name,right_stim_name,left_stim_cat,right_stim_cat,first_stim_name,second_stim_name,first_stim_cat,second_stim_cat
0,learning1,5,7,3,4,0,1.0,0.934432,5.0,3.0,...,7,5,hand_palm,house_2,hand,house,house_2,hand_palm,house,hand
1,learning1,4,6,3,4,1,1.0,0.645392,4.0,3.0,...,4,6,hand_back,house_1,hand,house,hand_back,house_1,hand,house
2,learning1,3,1,2,1,0,NaN,NaN,NaN,NaN,...,1,3,face_male,figure_circle,face,figure,figure_circle,face_male,figure,face
3,learning1,6,8,4,5,0,1.0,0.368762,6.0,4.0,...,8,6,house_1,figure_triangle,house,figure,figure_triangle,house_1,figure,house
4,learning1,2,4,2,3,0,1.0,0.537730,2.0,2.0,...,4,2,face_female,hand_back,face,hand,hand_back,face_female,hand,face
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,test,4,2,3,2,1,1.0,0.512455,4.0,3.0,...,4,2,hand_back,face_female,hand,face,hand_back,face_female,hand,face
324,test,6,4,4,3,1,1.0,0.613739,6.0,4.0,...,6,4,house_1,hand_back,house,hand,house_1,hand_back,house,hand
325,test,4,5,3,3,0,1.0,0.884409,4.0,3.0,...,5,4,hand_back,hand_palm,hand,hand,hand_palm,hand_back,hand,hand
326,test,3,2,2,2,0,2.0,0.778679,2.0,2.0,...,2,3,face_male,face_female,face,face,face_female,face_male,face,face
327,test,5,2,3,2,1,1.0,0.730383,5.0,3.0,...,5,2,hand_palm,face_female,hand,face,hand_palm,face_female,hand,face

In [6]:
bbt = pd.concat(
    [pd.concat([pd.DataFrame({'sub_id': [sub.sub_id] * len(sub.extended_trials)}), sub.extended_trials.reset_index(drop=True)], axis=1) for sub in subjects],
    ignore_index=True
)

In [24]:
bbt.to_csv('/home/ubuntu/data/learning-habits//bbt.csv', index=False)

In [5]:
run = 'test'

In [6]:
subject.learning1.extend_events_df({'first_stim_cat': 'first_stim_presentation'})

          onset  duration                trial_type  trial first_stim_cat
0      0.009399  0.817157   first_stim_presentation      1          house
1      0.826556  0.934432  second_stim_presentation      1           None
2      1.760988  0.000000                  response      1           None
3      1.766016  1.569584              purple_frame      1           None
4      2.268539  1.067061           points_feedback      1           None
..          ...       ...                       ...    ...            ...
565  959.906510  0.518548  second_stim_presentation     96           None
566  960.425058  0.000000                  response     96           None
567  960.426145  1.983533              purple_frame     96           None
568  960.927272  1.482406           points_feedback     96           None
569  962.409678  6.195094                       iti     96           None

[570 rows x 5 columns]

In [8]:
subject.trials.columns

Index(['block', 'left_stim', 'right_stim', 'left_value', 'right_value',
       'shift', 'action', 'rt', 'chosen_stim', 'reward', 'correct',
       't_first_stim', 't_second_stim', 't_action', 't_purple_frame',
       't_points_feedback', 't_iti_onset', 't_trial_end', 'first_stim',
       'second_stim', 'left_stim_name', 'right_stim_name', 'left_stim_cat',
       'right_stim_cat', 'first_stim_name', 'second_stim_name',
       'first_stim_cat', 'second_stim_cat'],
      dtype='object')

In [51]:
# Load events
events = getattr(subject, run).extend_events_df(columns_event={'first_stim_cat': 'first_stim_presentation'})

# Add stim category to first stim presentation
events['trial_type'] = events.apply(
    lambda row: f"{row['trial_type']}_{row['first_stim_cat']}" if row['trial_type'] == 'first_stim_presentation' else row['trial_type'],
    axis=1
)

In [52]:
events

,onset,duration,trial_type,trial,first_stim_cat
0,0.002346,0.813894,first_stim_presentation_figure,1,figure
1,0.816239,0.550671,second_stim_presentation,1,None
2,1.366910,0.000000,response,1,None
3,1.370405,1.951056,purple_frame,1,None
4,3.321461,6.203388,iti,1,None
...,...,...,...,...,...
674,1360.803064,0.859366,first_stim_presentation_hand,136,hand
675,1361.662430,0.730383,second_stim_presentation,136,None
676,1362.392813,0.000000,response,136,None
677,1362.394750,1.770824,purple_frame,136,None
678,1364.165574,6.236302,iti,136,None