In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import os
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from nilearn import image
from nilearn.glm.first_level import FirstLevelModel
from nilearn.plotting import plot_design_matrix
from nilearn import plotting
from bids import BIDSLayout
from bids.reports import BIDSReport
sys.path.append('..')
from utils.data import Subject, Block, load_participant_list

In [3]:
base_dir = '/Users/hugofluhr/data/LH_dev'
sub_ids = ['01', '02', '03', '05', '06', '09']
all_sub_ids = load_participant_list(base_dir)

In [4]:
all_sub_ids.remove('04')

In [5]:
subjects = [Subject(base_dir, 'sub-'+sub_id, include_modeling=True) for sub_id in all_sub_ids]

/Users/hugofluhr/phd_local/repositories/RewardPairsTask_Analysis/notebooks/../utils/data.py:166: UserWarning: Last 1 trial(s) of block had no response, filling with 0

In [6]:
subjects[0].trials

,block,left_stim,right_stim,left_value,right_value,shift,action,rt,chosen_stim,reward,correct,t_first_stim,t_second_stim,t_action,t_purple_frame,t_points_feedback,t_iti_onset,t_trial_end
0,learning1,5,7,3,4,0,1.0,0.934432,5.0,3.0,0.0,0.009399,0.826556,1.760988,1.766016,2.268539,3.335600,10.010661
1,learning1,4,6,3,4,1,1.0,0.645392,4.0,3.0,0.0,10.010661,10.895611,11.541003,11.543884,12.045623,13.401687,20.403639
2,learning1,3,1,2,1,0,NaN,NaN,NaN,NaN,NaN,20.403639,21.369311,0.000000,0.000000,0.000000,23.875462,30.675264
3,learning1,6,8,4,5,0,1.0,0.368762,6.0,4.0,0.0,30.675264,31.478573,31.847335,31.849628,32.351760,33.984344,40.081664
4,learning1,2,4,2,3,0,1.0,0.537730,2.0,2.0,0.0,40.081664,40.994311,41.532041,41.534648,42.036649,43.500880,49.945219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,test,4,2,3,2,1,1.0,0.512455,4.0,3.0,1.0,1322.638279,1323.491548,1324.004002,1324.005952,NaN,1325.994450,1332.118539
324,test,6,4,4,3,1,1.0,0.613739,6.0,4.0,1.0,1332.118539,1332.921338,1333.535078,1333.537728,NaN,1335.424989,1341.450269
325,test,4,5,3,3,0,1.0,0.884409,4.0,3.0,NaN,1341.450269,1342.319548,1343.203957,1343.205973,NaN,1344.822379,1351.080787
326,test,3,2,2,2,0,2.0,0.778679,2.0,2.0,NaN,1351.080787,1352.032160,1352.810838,1352.812656,NaN,1354.534839,1360.803064
327,test,5,2,3,2,1,1.0,0.730383,5.0,3.0,1.0,1360.803064,1361.662430,1362.392813,1362.394750,NaN,1364.165574,1370.401876

# Checking Dummy scans stuff, alignment of confounds/events with images

In [7]:
sub = subjects[0]
test_phase_bold = image.load_img(sub.img['test'])

AttributeError: 'Subject' object has no attribute 'img'

In [63]:
n_vols = test_phase_bold.shape[-1]

In [64]:
raw_bold = sub.get_bids_files(suffix='bold',run=3, extension='nii')
raw_bold = image.load_img(raw_bold[0])

In [ ]:
(n_vols)*2.33384/60

# Test Phase, looking at basic constrasts

In [ ]:
events=subject.get_event_df('test')
events.head(15)

In [44]:
fmri_img = image.load_img(subject.img['test'])

In [45]:
# get the confounds
confouds_path = '/Users/hugofluhr/data/LH_dev/bids_sample_190924/derivatives/fmriprep-24.0.1_correctB0/sub-01/ses-1/func/sub-01_ses-1_task-test_run-3_desc-confounds_timeseries.tsv'
confounds = pd.read_csv(confouds_path, sep='\t')

In [ ]:
sum(confounds['std_dvars'] > 1.5)

In [49]:
from nilearn.interfaces.fmriprep import load_confounds

In [ ]:
load_confounds(subject.img['test'].path)[0]

In [ ]:
print(confounds.columns)
used_confounds = ['']

In [ ]:
confounds