In [1]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd

In [2]:
logfilepath = '/Volumes/g_econ_department$/projects/2024/nebe_fluhr_timokhov_tobler_learning_habits/data/exp_data/data_eyetracker/D06D5S.asc'

In [3]:
from mne.io.eyelink import read_raw_eyelink
import mne

In [4]:
raw = read_raw_eyelink(logfilepath)
#mne.preprocessing.eyetracking.interpolate_blinks(raw, interpolate_gaze=True)

Loading /Volumes/g_econ_department$/projects/2024/nebe_fluhr_timokhov_tobler_learning_habits/data/exp_data/data_eyetracker/D06D5S.asc
Pixel coordinate data detected.Pass `scalings=dict(eyegaze=1e3)` when using plot method to make traces more legible.
Pupil-size area detected.

In [5]:
raw.ch_names

['xpos_right', 'ypos_right', 'pupil_right', 'DIN']

In [6]:
# Get the annotations (these usually include the messages as events)
annotations = raw.annotations

annotations_dict = {
    'onset': [annotation['onset'] for annotation in annotations],
    'duration': [annotation['duration'] for annotation in annotations],
    'description': [annotation['description'] for annotation in annotations]
}
annotations_df = pd.DataFrame(annotations_dict)

In [19]:
df = annotations_df[~annotations_df['description'].isin(['fixation', 'saccade', 'blink','BAD_blink'])]
df = df.assign(from_ref=df['onset'] - df['onset'].iloc[3])
df.iloc[180:210]

         onset  duration              description  from_ref
7272  1009.671       0.0             End trial 88   888.073
7273  1009.671       0.0           Start trial 89   888.073
7316  1020.200       0.0             End trial 89   898.602
7317  1020.200       0.0           Start trial 90   898.602
7352  1029.952       0.0             End trial 90   908.354
7353  1029.952       0.0           Start trial 91   908.354
7400  1040.911       0.0             End trial 91   919.313
7401  1040.912       0.0           Start trial 92   919.314
7502  1050.381       0.0             End trial 92   928.783
7503  1050.381       0.0           Start trial 93   928.783
7629  1060.116       0.0             End trial 93   938.518
7630  1060.116       0.0           Start trial 94   938.518
7754  1070.933       0.0             End trial 94   949.335
7755  1070.933       0.0           Start trial 95   949.335
7846  1080.614       0.0             End trial 95   959.016
7847  1080.614       0.0           Start trial 96   959.016
7970  1090.207       0.0             End trial 96   968.609
7971  1090.207       0.0              End block 1   968.609
8690  1308.050       0.0  Manual Trigger received  1186.452
8939  1341.781       0.0     MRI Trigger received  1220.183
8940  1341.782       0.0         Starting block 2  1220.184
8941  1341.782       0.0            Start trial 1  1220.184
9026  1351.372       0.0              End trial 1  1229.774
9027  1351.373       0.0            Start trial 2  1229.775
9143  1361.335       0.0              End trial 2  1239.737
9144  1361.335       0.0            Start trial 3  1239.737
9232  1371.284       0.0              End trial 3  1249.686
9233  1371.284       0.0            Start trial 4  1249.686
9352  1381.730       0.0            Start trial 5  1260.132
9353  1381.730       0.0              End trial 4  1260.132

In [9]:
df[df['description']=='End block 1']

         onset  duration  description
7971  1090.207       0.0  End block 1